JWT_SECRET=change-me-in-prod
JWT_ALG=HS256

AUTH_SERVICE_URL=http://localhost:8001
VEHICLE_SERVICE_URL=http://localhost:8002
DIAGNOSIS_SERVICE_URL=http://localhost:8003

# CORS
CLIENT_ORIGIN=http://localhost:5173
